BLOG_HOST="postgres://%2Fnas%2Fprojects%2Fweb%2Fpersonal%2Dsite%2Fdb/blog"
BLOG_MIN_CONNECTIONS="None"
BLOG_MAX_CONNECTIONS="1024"
BLOG_CONNECT_TIMEOUT="3"
BLOG_IDLE_TIMEOUT="None"
BLOG_EXTENSIONS="None"
USERS_HOST="postgres://%2Fnas%2Fprojects%2Fweb%2Fpersonal%2Dsite%2Fdb/users"
SECRET="b5cf11d458d8c461bc882fa05f7df38679c982b1574023ce5293e2b71fb4b9bd"
