BLOG_HOST="postgres://127.0.0.1/blog"
BLOG_CONNECTIONS_MIN=0
BLOG_CONNECTIONS_MAX=1024
BLOG_TIMEOUT_CONNECT=3
BLOG_TIMEOUT_IDLE=100
BLOG_EXTENSIONS=[]
USERS_HOST="postgres://127.0.0.1/users"
SECRET="<SECRET KEY>"
